<div class="container box-it-out white-text">

<%= link_to 'Back', movies_path %>

<div style="margin-left: 0 auto">

<h1><%= @movie.title %></h1>
  <% if @movie.image_url != "N/A" %>
    <img src="<%= @movie.image_url %>">
  <% end %>
  <p><b>Genre</b>: <%= @movie.genre %></p>
  <p><b>Year</b>: <%= @movie.year %></p>
  <p><b>Actors</b>: <%= @movie.actors %></p>
  <p><b>Director</b>: <%= @movie.director %></p>
</div>

<% if @rating %>
  <h2 id="ratings-title"><%= @rating %> Stars</h2>
<% else %>
  <h2>There are no ratings for this movie</h2>
<% end %>

<% if user_signed_in? %>
  <%= form_tag(movie_rating_path(@movie)) do %>

    <%= radio_button_tag(:star, "1") %>
      <%= label_tag(:star1, "1") %>
    <%= radio_button_tag(:star, "2") %>
      <%= label_tag(:star2, "2") %>
    <%= radio_button_tag(:star, "3") %>
      <%= label_tag(:star3, "3") %>
    <%= radio_button_tag(:star, "4") %>
      <%= label_tag(:star4, "4") %>
    <%= radio_button_tag(:star, "5") %>
      <%= label_tag(:star5, "5") %>

    <p class="stars-submit">
       <%= submit_tag("Submit") %>
    </p>

  <% end %>
<% end %>




<% if  user_signed_in? && current_user.super_user?  %>
  <p class="review-text"><%= link_to 'Write A Review', new_movie_review_path(@movie) %></p>
<% end %><br><br><br>


                    <!-- REVIEW SECTION -->
<% @movie.reviews.each do |review| %>

<p class="review-text"><%= link_to "#{review.user.username}", user_path(review.user)%>'s review:
    <span><%= pluralize(review.votes.sum(:point), "votes") %></span>

<% if user_signed_in? && review.user_id == current_user.id %>
  <span class="btn"><%= link_to 'Edit', edit_movie_review_path(@movie, review) %></span>
    <span class="btn"><%= link_to 'Delete', movie_review_path(@movie, review),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>
<% end %>
<p class="review-text">"<%= review.body %>"</p>
</p>

   <%= pluralize(review.votes.sum(:point), "votes") %>
    <span class="vote-buttons"><%= button_to '+1', review_upvote_path(review), method: :post %></span>
    <span class="vote-buttons"><%= button_to '-1', review_downvote_path(review), method: :post %></span>




                  <!-- COMMENT SECTION -->
<% if user_signed_in? %>
<div id="new-comment-form">
  <%= link_to "Add a Comment", new_review_comment_path(review), remote: true %>
</div>
<% end %><br><br>

  <% review.comments.each do |comment| %>

<ul>
    <li><%= link_to "#{comment.user.username}", user_path(comment.user) %>'s comment: "<%= comment.body %>"

    <% if user_signed_in? && comment.user_id == current_user.id %>
      <span class="btn">
      <div id="edit-comment-form">
        <%= link_to 'Edit', edit_review_comment_path(review, comment), remote: true %></span>
      </div>
    <% end %>

    <% if user_signed_in? && (current_user.super_user? || comment.user_id == current_user.id) %>
      <span class="btn"><%= link_to 'Delete', review_comment_path(review, comment),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></span>
    <% end %>
<br>
        <span class="total-like-count"><%= pluralize(comment.votes.sum(:point), "votes") %></span>
        <div class="vote-buttons"><%= button_to '+1', comment_upvote_path(comment), method: :post %></div>
        <div class="vote-buttons"><%= button_to '-1', comment_downvote_path(comment), method: :post %></div>
    </li>
</ul>

  <% end %>
<% end %>


</div>
