<h2 class="white-text">New Review</h2>

<%= form_for([@movie, @movie.reviews.build], remote: true) do |f| %>
  <% if @review.errors.any? %>
    <div class="white-text" id="error_explanation">
      <h2 class="white-text">
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li class="white-text"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <span class="white-text"><%= f.label :body %><br></span>
    <span class="black-text"><%= f.text_area :body %></span>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

